#title
  %h1 City Wanders
  %p My Travels

#content
  %hr#divider1
  %p . . .
  %div#questions
    %p
      Where do
      %i you
      want to go ?
    %p
      Who are
      %i you
      ?
  %p . . .
  %hr
  %div.whoami
    %p Explorer
    %p Wanderer
    %p Hippie
    %p Shopaholic
    %p Art Lover

#beyourown
  Be your own tour guide.

%hr

#description
  %p Wanderlusters' MY MAP : a personalized map created by community users of where they've been and where they are heading to collaborations are made possible by contributing their travel tips and travel itinerary

  %p Emphasize on integration, one stop for all travel needs Landmarks Architecture Culture Hotspot Shopping Department Stores Special Events ie: Selfridges, Harrods.

  %p Markets Special Themed Events ie: Spatialfield Christmas Markets, European Christmas Markets (Where's the best gluwein?) Entertainment Music; Live Gigs local feature contributors/bloggers Events; Festivals contribution from MY CITY
